.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.listItems {
  list-style-type: disc;
  width: 250px;
}

li {
  padding: 5px;
  margin: 5px;
}

#content {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  #content {
    width: 100%;
  }
}