.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.listItems {
  list-style-type: disc;
  width: 250px;
}

li {
  padding: 5px;
  margin: 5px;
}

#content {
  width: 50%;
}

#next-section {
  letter-spacing: 0.5px;
}

img {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 480px) {
  #content {
    width: 100%;
  }

  #next-section {
    font-size: 15px;
    letter-spacing: 0.5px;
  }

  img {
    width: 250px;
    height: 250px;
  }

  #shaping-curves {
    width: 250px;
    height: 250px;
  }
}