@font-face {
  font-family: Marker;
  src: url(../fonts/PermanentMarker.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Light.otf);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.link {
  font-size: 1.2em;
  font-weight: 200;
  align-self: flex-end;
  margin-right: 15%;
  font-style: italic;
  color: #6c6c6c;
}

.link > a:hover {
  border-bottom: 2px solid #6c6c6c;
}

.heading {
  font-family: Marker;
  font-size: 8em;
  background: linear-gradient(to right, rgb(221, 175, 115) 0%, rgb(221, 175, 115) 20%, rgb(206, 37, 138) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  font-family: SourceSansPro;
  font-size: 1.3em;
  word-spacing: 1.5px;
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.listItems {
  list-style-type: disc;
  width: 250px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

#content {
  width: 70%;
  text-align: justify;
}

#explore-link {
  font-family: Marker;
  font-size: 2em;
  background: linear-gradient(to right, rgb(221, 175, 115) 0%, rgb(221, 175, 115) 20%, rgb(206, 37, 138) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#next-section {
  letter-spacing: 0.5px;
}

img {
  width: 300px;
  height: 300px;
}

canvas {
  border-radius: 15px;
  -webkit-box-shadow: 3px 6px 9px 0px rgba(199,197,199,1);
  -moz-box-shadow: 3px 6px 9px 0px rgba(199,197,199,1);
  box-shadow: 3px 6px 9px 0px rgba(199,197,199,1);
}

@media only screen and (max-width: 480px) {
  .heading {
    font-size: 3em;
  }

  .intro {
    font-size: 1em;
  }

  #content {
    width: 90%;
    text-align: justify;
  }

  #next-section {
    font-size: 15px;
    letter-spacing: 0.5px;
  }

  img {
    width: 250px;
    height: 250px;
  }

  #shaping-curves {
    width: 250px;
    height: 250px;
  }

  .link {
    font-size: 1em;
    margin-right: 5%;
  }
}